@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons';

:root {
    --primary-text-color: #282828;
    --primary-text-color-rgb: 40, 40, 40;

    --gray-100: #F2F2F2;

    --back-100: #282828;

    --success-color: #3DA55A;
    --danger-color: #E83F3F;

    --purple-100: #7D00E4;
    --purple-200: #B060F2;
    --purple-300: #E2BFFF;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('/fonts/AvertaStd-Regular.woff') format('woff'),
         url('/fonts/AvertaStd-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaStd-Semibold';
    src: url('/fonts/AvertaStd-Semibold.woff') format('woff'),
         url('/fonts/AvertaStd-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaStd-Bold';
    src: url('/fonts/AvertaStd-Bold.woff') format('woff'),
         url('/fonts/AvertaStd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'AvertaStd';
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.nav-link {
    color: rgba(var(--primary-text-color-rgb), 0.5);
}

.title {
    font-size: 64px;
}

.subtitle {
    font-size: 24px;
    color: var(--purple-100);
}

.text-purple {
    color: var(--purple-100);
}

.text-danger {
    color: var(--danger-color);
}

.text-success {
    color: var(--success-color);
}

.card {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.bg-light {
    background-color: #f2f2f2;
}

.bg-dark {
    background-color: var(--back-100);
}

.bg-active {
    background-color: #d8d8d8;
}

.fw-bold {
    font-family: 'AvertaStd-Bold';
    font-weight: 700;
}

.fw-semibold {
    font-family: 'AvertaStd-Semibold';
    font-weight: 600;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.dot-success {
    background-color: var(--success-color);
}

.dot-danger {
    background-color: var(--danger-color);
}

.bar {
    height: 31px;
    width: 100%;
}

.bar-legend {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #7D00E4;
}

.table > :not(caption) > * > * {
    padding: .5rem 1.6rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--purple-100);
}

.bar:nth-child(1) {
    background-color: var(--purple-100);
}

.bar:nth-child(2) {
    background-color: var(--purple-200);
}

.bar:nth-child(3) {
    background-color: var(--purple-300);
}

.list-inline-item:nth-child(1) .bar-legend {
    background-color: var(--purple-100);
}

.list-inline-item:nth-child(2) .bar-legend {
    background-color: var(--purple-200);
}

.list-inline-item:nth-child(3) .bar-legend {
    background-color: var(--purple-300);
}

.date-badge {
    font-size: 12px;
}

.custom-pointer {
    cursor: pointer !important;
}
